.git
.github
.venv
.idea
.vscode
__pycache__
*.py[cod]
*.db
*.db-*
*.sqlite
*.sqlite-*
*.sqlite3
*.sqlite3-*
*.bak
.env
.env.*
.pytest_cache
.coverage
htmlcov
logs/
media/
test_media/
ci-media/
tests/
docs/
